@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.body-hero {
  padding: 0;
  margin: 0;
  height: 0;
  background: #fcfcff;
  font-family: 'Montserrat', sans-serif; 
}
  
.full {
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif; 
}

html, body {
  height: 100%;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


