.card {
    width: 100%; 
    max-width: 600px;
    height: 400px;
    background: #f9f9f9; 
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.card__image {
    flex-shrink: 0;
    height: 310px; 
}

.card__image img {
    width: 100%; 
    height: 150%;  
    object-fit: cover;  
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px;  
}

.card__content {
    position: relative;
    padding: 10px;
    background-color: #fff;  
    color: #5c1a55;  
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px;
    transition: transform 0.3s;
    flex-grow: 1; 
    transform: translateY(25%); 
    cursor: pointer;  
}

.card__content:hover {
    transform: translateY(0);  
}

.card__content::before {
    content: " ";
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    box-shadow: inset -48px -48px #fff; 
}

.card__subtitle {
    font-weight: normal;
    padding-bottom: 1px;  
    font-size: 14px;
    color: #a18a96;  
}

.card__description {
    color: #a18a96;  
}
